# Typecasting

In [6]:
#converting string into integer

In [7]:
var1= "100"

In [8]:
type(var1)

str

In [9]:
var2= int(var1)

In [10]:
type(var2)

int

In [11]:
#converting sting into float

In [12]:
var1= "12.34"

In [13]:
type(var1)

str

In [14]:
var2= float(var1)

In [15]:
type(var2)

float

In [16]:
#converting string into boolean

In [18]:
var1= "true"

In [20]:
type(var1)

str

In [21]:
var2= bool(var1)

In [22]:
type(var2)

bool

In [23]:
#converting integer into string

In [24]:
var1= 123

In [25]:
type(var1)

int

In [26]:
var2= str(var1)

In [27]:
type(var2)

str

In [28]:
#converting integer into float

In [34]:
var1= 231

In [35]:
var2= float(var1)

In [36]:
type(var1)

int

In [37]:
type(var2)

float

In [38]:
#converting integer into boolean

In [39]:
var1= 123

In [40]:
type(var1)

int

In [41]:
var2= bool(var1)

In [42]:
type(var2)

bool

In [43]:
var3= 0

In [44]:
bool(var3)

False

In [45]:
var3= 1

In [46]:
bool(var3)

True

In [47]:
#converting float into string

In [48]:
var1= 12.3

In [49]:
type(var1)

float

In [50]:
var2= str(var1)

In [51]:
type(var2)

str

In [52]:
#converting float into boolean

In [53]:
var1= 12.3

In [54]:
type(var1)

float

In [55]:
var2= bool(var1)

In [56]:
type(var2)

bool

In [57]:
#converting float into integer

In [58]:
var1= 12.3

In [59]:
type(var1)

float

In [60]:
var2= int(var1)

In [61]:
type(var2)

int

In [62]:
print(var2)

12